---
import Head from "../components/Utils/head.astro";

import "../../styles/index.scss";
---

<!doctype html>
<html lang="en" style="background-color: #fff" prefix="og: https://ogp.me/ns#">
    <Head />
    <body>
        <!-- <body allow="fullscreen *"> -->
        <div class="body" id="body">
            <!-- Work -->
            <div class="page">
                <div class="not-found">
                    <h2>Hmmm... Page not found</h2>
                    <div class="not-found-content">
                        <h3>
                            This page don&apos;t exits or the link is incorrect.
                            Try:
                        </h3>
                        <ul>
                            <li>
                                <h4>
                                    Make sure you the link is correctly typed.
                                </h4>
                            </li>
                            <li>
                                <h4>
                                    <a href="/">Go home</a> and navigate from there.
                                </h4>
                            </li>
                            <li>
                                <h4>Dance.</h4>
                            </li>
                            <li>
                                <h4>
                                    Watch a video in youtube about{" "}
                                    <a
                                        href="https://www.youtube.com/watch?v=0Puv0Pss33M"
                                    >
                                        how to help the enviroment.
                                    </a>
                                </h4>
                            </li>
                        </ul>
                        <div class="not-found-link">
                            <h3>Maybe you would like to play a game -{">"}</h3>
                            <button type="button" role="link">
                                <a href="/tic-tac-toe">Launch Game</a>
                            </button>
                            <h3>:( == :) <sup>&macr;&sup1;</sup></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
