---
import Home from "../components/Home/home.astro";
import Preload from "../components/Utils/preload.astro";
import About from "../components/About/About";
import Contact from "../components/Contact/Contact";
import Works from "../components/Works/Works.vue";

import "../../styles/index.scss";
import "aos/dist/aos.css";

import BlogLayout from "../layouts/BlogLayout.astro";
---

<BlogLayout>
    <!-- <body allow="fullscreen *"> -->
    <div class="body" id="body">
        <Preload />

        <!-- Contact page  -->
        <!-- Main -->
        <div class="page">
            <Contact client:load />
            <Works client:load />
            <About client:load />
        </div>

        <!-- Home page or welcoming page   -->
        <Home />
    </div>
</BlogLayout>
