// Polyfill
script(src="/static/js/polyfill.bundle.min.js", type="application/javascript")
// App
script(src="/static/js/app.bundle.min.js", type="application/javascript")
// Vendor
script(src="/static/js/vendor.bundle.min.js", type="application/javascript")
// Interactions
script(src="/static/js/interactions.js", type="application/javascript")