---
import MenuButton from "./Utils/MenuButton";
---

<nav class="navbar navbar-light bg-transparent nav-home"><span class="container py-1 mx-3 border-right" style="width: 4em"><img src="/static/media/images/icon.png" alt="fantonix"></span>
    <div class="container-sm py-1 mx-3" style="width: 4em">
        <MenuButton client:load />
    </div>
</nav>