---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/work/nfts", {
    version: "draft",
});

const { story } = data;
---

<div>
    <StoryblokComponent blok={story.content} />
</div>
