---
import Head from "../../components/Utils/head.astro";

import Scripts from "../../components/Utils/scripts.astro";

import Work from "./Work";

import LikeRunes from "../../components/Work/LikeRunes.tsx";
import HeaderWork from "../../components/Work/HeaderWork.tsx";
import CaseStudy from "../../components/Work/CaseStudy.tsx";
import Classic from "../../components/Work/Classic.tsx";
import Gallery from "../../components/Work/Gallery.tsx";

import "../../../styles/index.scss";

interface Work {
    h2: string | ReactElement;
    p1: string | ReactElement;
    p2: string | ReactElement;
    p3: string | ReactElement;
    p4: string | ReactElement;
    media1: string[];
    media2: string[];
    media3: string[];
    media4: string[];
    styles: string[];
    type: "casestudy" | "gallery" | "classic";
}

interface WorkProps {
    work: Work | undefined;
    index: number;
}
---

<!doctype html>
<html
    lang="en"
    style="background-color: #010101"
    prefix="og: https://ogp.me/ns#"
>
    <Head />
    <body data-barba="wrapper">
        <!-- <body allow="fullscreen *"> -->
        <div
            class="body"
            id="body"
            data-barba="container"
            data-barba-namespace="work"
        >
            <!-- Work -->
            <div class="page">
                <Work client:idle />
            </div>
        </div>

        <!-- Scripts -->
        <Scripts />
    </body>
</html>
