
$color-shadow: #000;
$animate-duration: 1400ms;

@function resolveUrl ($fileUrl: string) {
  @return "/static/media/" + quote($string: $fileUrl);
}

@mixin displayFlexCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin widthAndHeight ($width, $height) {
  width: $width;
  height: $height;
}

/* Home */

$polygon-complement: polygon(
  0% 5%,
  5% 0%,
  95% 0%,
  100% 5%,
  100% 95%,
  95% 100%,
  5% 100%,
  0% 95%
);

/* About */

@mixin antonioAndSimonImages ($url) {
  background: url(resolveUrl($url));
  position: absolute;
}

$airscooter-color: #f1e7db;
$airscooter-color-2: #ccf4f3;
$airscooter-air: #f1eee7;
$airscooter-air-2: rgba(0, 0, 0, 0);

// Works

@mixin anchor-pseudo-elements($type) {
  content: "";
  position: absolute;
  transition: 1s;
  @if $type == before {
    inset: 0 -2px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
  } @else {
    inset: -2px 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
}

@mixin hover-anchor-pseudo-elements($type) {
  @if $type == before {
    inset: 0 -15px;
    transform: skewY(10deg);
  } @else {
    inset: -15px 0;
    transform: skewX(10deg);
  }
  border-color: var(--bs-white);
}