@use "variables.scss";
@use "tailwindcss";
@use "keyframes.scss";

@forward "mainPage/index.sass";
@forward "errors/index.sass";
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

/* Variables and GLOBAL STYLES */

.btn.btn-secondary {
    &:hover,
    &:focus {
        outline-offset: 3px;
        outline: 3px solid var(--color-gray-100);
        box-shadow: 0 5px 20px 4px var(#d97706);
    }
}

button {
    width: fit-content;
    height: fit-content;
}

button:hover {
    cursor: pointer;
}

.body {
    position: relative;
}

@media (prefers-reduced-motion: reduce), print {
    .animate__animated {
        -webkit-animation-duration: 1s !important;
        animation-duration: 1s !important;
        -webkit-transition-duration: variables.$animate-duration !important;
        transition-duration: variables.$animate-duration !important;
        -webkit-animation-iteration-count: unset;
        animation-iteration-count: unset;
    }
    .animate__animated[class*="Out"] {
        opacity: unset;
    }
}

svg {
    width: 1.5em;
    height: 1.5em;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1 {
    font-family:
        Josefin Sans,
        Chine Handwriting,
        Franklin Gothic Medium,
        Arial Narrow,
        Arial,
        sans-serif !important;
}

p,
blockquote {
    font-family: "PT Sans", sans-serif !important;
}

h2,
h3 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

a {
    font-family: "Questrial", "PT Sans", sans-serif;
}

header::after {
    content: "";
    position: absolute;
    bottom: -5%;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
    backdrop-filter: blur(16px);
    border-radius: 0 0 16px 16px;
}
/* Media queries */

/* Highest phones */
@media screen and (max-width: 575px) and (min-height: 801px) {
    /* Home */
    .bg-complement {
        width: 125px;
        height: 125px;

        div::before {
            transform: rotateX(90deg) translateZ(62.5px);
        }

        div::after {
            transform: rotateX(-90deg) translateZ(62.5px);
        }

        span {
            transform: rotateY(calc(90deg * var(--i))) translateZ(62.5px);
        }
    }

    #h1 {
        font-size: 15.5vw;
    }
    /* About */

    /* Contact */
}

/* Landscape phones */
@media screen and (min-width: 576px) {
    /* Home page */
    .home {
        height: 100vh;

        #h1 {
            font-size: 3vw;
        }

        .bg-complement {
            width: 125px;
            height: 125px;

            div::before {
                transform: rotateX(90deg) translateZ(62.5px);
            }

            div::after {
                transform: rotateX(-90deg) translateZ(62.5px);
            }

            span {
                transform: rotateY(calc(90deg * var(--i))) translateZ(62.5px);
            }
        }

        .divi-content {
            h4 {
                font-size: calc(1.25rem + 0.3vw);
            }
        }

        .nav-home {
            top: 81%;
        }
    }

    /* About page */

    /* Contact page */

    /* Works */
}

/* Tablets and anothers */
@media screen and (min-width: 768px) {
    /* Home page */
    .home {
        height: 100vh;

        #h1 {
            font-size: 4vw;
        }

        .divi-content {
        }

        .nav-home {
            top: 90%;
        }
    }

    /* About page */

    .about-me {
        .text {
            font-size: 120%;
        }
    }

    /* Works page */

    /* conctact page */

    /* Works */
}

/* Desktops */
@media screen and (min-width: 992px) {
    /* Deleting Light Div */

    /* Home page */
    .bg-complement {
        width: 200px;
        height: 200px;

        div::before {
            transform: rotateX(90deg) translateZ(100px);
        }

        div::after {
            transform: rotateX(-90deg) translateZ(100px);
        }

        span {
            transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
        }
    }

    /* About page */

    /* About me */

    .about-me {
    }

    /* Works page */

    /* Work page */

    /* Contact page */

    div.menu-nft-active {
        width: 30vw;
    }
}

/* Large desktops */
@media screen and (min-width: 1200px) {
    /* Home page */

    /* About page */

    /* absolute btn-change-img */

    /* Works page */

    /* Contact */

    /* Work */
}

/* Ultra large desktops */
@media screen and (min-width: 1400px) {
    /* Main */

    /* About */
}

/* Hyper Ultra large Screen */
@media screen and (min-width: 1800px) {
}
