<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Felix Antonio Cabello Garmendia" />
    <meta name="googlebot" content="index" />
    <meta name="googlebot" content="follow" />
    <meta name="slurp" content="index" />
    <meta name="slurp" content="follow" />
    <meta name="robots" />
    <meta name="user-scalable" content="no" />
    <link rel="canonical" href="https://fantonix.space/" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- animate.css-->
    <link
        rel="stylesheet"
        href="https://unpkg.com/animate.css@4.1.1/animate.min.css"
        type="text/css"
    />
    <title>elix Portfolio</title>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@AntonioCab111" />
    <meta name="twitter:title" content="Fantonix Portfolio" />
    <meta
        name="twitter:description"
        content="This is my portfolio, I'll be getting it better. Each day, each moment I can, because this is going to demonstrate my abilities, this is my way to demonstrate to myself what I'm able to do. Towards the future"
    />
    <meta
        name="twitter:image"
        content="https://fantonix.space/assets/media/images/icon.png"
    />
    <meta
        name="twitter:image:alt"
        content="It's a nice red F with smooth lines and hard corners"
    />
    <meta property="og:title" content="Fantonix Portfolio" />
    <meta property="og:url" content="https://fantonix.space" />
    <meta property="og:type" content="website" />
    <meta
        property="og:description"
        content="This is my portfolio, I'll be getting it better. Each day, each moment I can, because this is going to demonstrate my abilities, this is my way to demonstrate to myself what I'm able to do. Towards the future"
    />
    <meta
        property="og:image"
        content="https://fantonix.space/assets/media/images/icon.png"
    />
    <meta
        property="og:image:alt"
        content="It's a nice red F with smooth lines and hard corners"
    />
    <meta property="og:site_name" content="Fantonix" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet"
    />
    <!-- Josefin Sans Google Fonts-->
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap"
        rel="stylesheet"
    />
    <!-- Icon link-->
    <link
        rel="shortcut icon"
        href="/media/images/icon.png"
        type="image/x-icon"
    />
    <!-- GSAP -->
    <script
        src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"
        rel="preload"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/gsap@3/dist/ScrollTrigger.min.js"
        rel="preload"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/gsap@3/dist/ScrollToPlugin.min.js"
        rel="preload"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/gsap@3/dist/TextPlugin.min.js"
        rel="preload"></script>
    <!-- GSAP Register global plugin -->
    <script is:client>
        // @ts-ignore
        gsap.registerPlugin(ScrollTrigger);
        // @ts-ignore
        gsap.registerPlugin(ScrollToPlugin);
        // @ts-ignore
        gsap.registerPlugin(TextPlugin);
    </script>
</head>
